# Python
*.pyc
__pycache__/
venv/
*.env

# Flask
instance/
*.sqlite

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependency directories
env/
lib/
bin/
.venv/

# Builds
*.pyc
*.egg-info/
dist/
build/